.new{
 
		border: 0px solid black;
          margin-top:5%;
           
            display: grid;
            grid-template-columns: 20% 20% 20%;
            grid-gap: 3%;
            justify-content: center;
	  
}